{{! This is the post loop - each post will be output using this markup }}
{{#foreach posts}}
<article class="{{ post_class }}">
    <header class="post-header row">
        <div class="col">
            <h2 class="post-title"><a class="non-highlighted" href="{{url}}">{{ title }}</a></h2>
        </div>
    </header>
    <section class="post-excerpt row">
        <div class="col">
            <p>{{ excerpt words="26" }} <a class="non-highlighted read-more" href="{{ url }}">&raquo;</a></p>
        </div>
    </section>
    <footer class="post-meta row justify-content-start align-items-center">
        <div class="col-auto border-right border-secondary">
            {{#primary_author}}
                <a href="{{ url }}">
                {{#if profile_image }}
                    <img class="author-thumb" src="{{ profile_image }}" 
                        alt="{{ name }}" nopin="nopin" />
                     <span class="author-index d-none d-xl-inline">{{ name }}</span>
                {{else}}
                    <span href="{{ url }}" class="author-index">{{ name }}</span>
                {{/if}}
                </a>
            {{/primary_author}}
        </div>
        <div class="col-auto border-right border-secondary">
            {{> "tags_loop" }}
        </div>
        <div class="col-auto d-none d-md-inline border-right border-secondary">
            <time class="post-date" 
                datetime="{{ date format='YYYY-MM-DD'}}">
                {{ date format="DD MMMM YYYY" }}</time>
        </div>
        <div class="col-auto">
            <span class="reading-time">{{ reading_time }}</span>
        </div>
    </footer>
</article>
{{/foreach}}

{{! Previous/next page links - displayed on every page }}
{{ pagination }}
